APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_DRIVER=mysql

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

#Socialite

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


#BASIC URL is required for a dirty hack in the configuration ...
BASIC_URL=